body {
    background-color: #F2F2F2;
    font-family: 'segoe ui light';
    margin: 0;
}

.main-heading {
    color: #3D251B;
    font-size: 60px;
    margin: 0px 0px 30px 5px;
}

.box {
    margin: 10px 10px 50px 10px;
    padding: 50px;
    border: 2px solid #a8a8a8;
    background-color: #8EBABF;
}

.sub-heading {
    color: #F2F2F2;
    text-align: center;
    margin: 0 0 40px 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    width: 25%;
    background-color: #731D0A;
    border: 2px solid white;
}

.card img {
    width: 100%;
    height: 300px;
}

.card h3 {
    text-align: center;
    color: #F2F2F2;
}

.card p {
    text-align: center;
    color: #F2F2F2;
}